/*weixin emoji*/
.emoji { background: url("../images/emoji1844c2.png") top left no-repeat; width: 20px; height: 20px; display:inline; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; }
.emoji2600 { background-position: 0px -260px; }
.emoji2601 { background-position: 0px -20px; }
.emoji2614 { background-position: 0px -40px; }
.emoji26c4 { background-position: 0px -60px; }
.emoji26a1 { background-position: 0px -80px; }
.emoji1f300 { background-position: 0px -100px; }
.emoji1f301 { background-position: 0px -9200px; } /* placeholder */
.emoji1f302 { background-position: 0px -120px; }
.emoji1f303 { background-position: 0px -920px; }
.emoji1f304 { background-position: 0px -160px; }
.emoji1f305 { background-position: 0px -180px; }
.emoji1f306 { background-position: 0px -200px; }
.emoji1f307 { background-position: 0px -220px; }
.emoji1f308 { background-position: 0px -240px; }
.emoji2744 { background-position: 0px -9200px; } /* placeholder */
.emoji26c5 { background-position: 0px -260px; }
.emoji1f309 { background-position: 0px -920px; }
.emoji1f30a { background-position: 0px -900px; }
.emoji1f30b { background-position: 0px -9200px; } /* placeholder */
.emoji1f30c { background-position: 0px -920px; }
.emoji1f30f { background-position: 0px -9200px; } /* placeholder */
.emoji1f311 { background-position: 0px -9200px; } /* placeholder */
.emoji1f314 { background-position: 0px -360px; }
.emoji1f313 { background-position: 0px -360px; }
.emoji1f319 { background-position: 0px -360px; }
.emoji1f315 { background-position: 0px -9200px; } /* placeholder */
.emoji1f31b { background-position: 0px -360px; }
.emoji1f31f { background-position: 0px -10740px; }
.emoji1f320 { background-position: 0px -9200px; } /* placeholder */
.emoji1f550 { background-position: 0px -380px; }
.emoji1f551 { background-position: 0px -400px; }
.emoji1f552 { background-position: 0px -420px; }
.emoji1f553 { background-position: 0px -440px; }
.emoji1f554 { background-position: 0px -460px; }
.emoji1f555 { background-position: 0px -480px; }
.emoji1f556 { background-position: 0px -500px; }
.emoji1f557 { background-position: 0px -520px; }
.emoji1f558 { background-position: 0px -540px; }
.emoji1f559 { background-position: 0px -620px; }
.emoji1f55a { background-position: 0px -580px; }
.emoji1f55b { background-position: 0px -600px; }
.emoji231a { background-position: 0px -9200px; } /* placeholder */
.emoji231b { background-position: 0px -9200px; } /* placeholder */
.emoji23f0 { background-position: 0px -620px; }
.emoji23f3 { background-position: 0px -9200px; } /* placeholder */
.emoji2648 { background-position: 0px -640px; }
.emoji2649 { background-position: 0px -660px; }
.emoji264a { background-position: 0px -680px; }
.emoji264b { background-position: 0px -700px; }
.emoji264c { background-position: 0px -720px; }
.emoji264d { background-position: 0px -740px; }
.emoji264e { background-position: 0px -760px; }
.emoji264f { background-position: 0px -780px; }
.emoji2650 { background-position: 0px -800px; }
.emoji2651 { background-position: 0px -820px; }
.emoji2652 { background-position: 0px -840px; }
.emoji2653 { background-position: 0px -860px; }
.emoji26ce { background-position: 0px -880px; }
.emoji1f340 { background-position: 0px -1220px; }
.emoji1f337 { background-position: 0px -960px; }
.emoji1f331 { background-position: 0px -1220px; }
.emoji1f341 { background-position: 0px -1000px; }
.emoji1f338 { background-position: 0px -1020px; }
.emoji1f339 { background-position: 0px -1040px; }
.emoji1f342 { background-position: 0px -1060px; }
.emoji1f343 { background-position: 0px -1080px; }
.emoji1f33a { background-position: 0px -1100px; }
.emoji1f33b { background-position: 0px -1200px; }
.emoji1f334 { background-position: 0px -1140px; }
.emoji1f335 { background-position: 0px -1160px; }
.emoji1f33e { background-position: 0px -1180px; }
.emoji1f33d { background-position: 0px -9200px; } /* placeholder */
.emoji1f344 { background-position: 0px -9200px; } /* placeholder */
.emoji1f330 { background-position: 0px -9200px; } /* placeholder */
.emoji1f33c { background-position: 0px -1200px; }
.emoji1f33f { background-position: 0px -1220px; }
.emoji1f352 { background-position: 0px -9200px; } /* placeholder */
.emoji1f34c { background-position: 0px -9200px; } /* placeholder */
.emoji1f34e { background-position: 0px -1360px; }
.emoji1f34a { background-position: 0px -1260px; }
.emoji1f353 { background-position: 0px -1280px; }
.emoji1f349 { background-position: 0px -1300px; }
.emoji1f345 { background-position: 0px -1320px; }
.emoji1f346 { background-position: 0px -1340px; }
.emoji1f348 { background-position: 0px -9200px; } /* placeholder */
.emoji1f34d { background-position: 0px -9200px; } /* placeholder */
.emoji1f347 { background-position: 0px -9200px; } /* placeholder */
.emoji1f351 { background-position: 0px -9200px; } /* placeholder */
.emoji1f34f { background-position: 0px -1360px; }
.emoji1f440 { background-position: 0px -1380px; }
.emoji1f442 { background-position: 0px -1400px; }
.emoji1f443 { background-position: 0px -1420px; }
.emoji1f444 { background-position: 0px -1440px; }
.emoji1f445 { background-position: 0px -3000px; }
.emoji1f484 { background-position: 0px -1480px; }
.emoji1f485 { background-position: 0px -1500px; }
.emoji1f486 { background-position: 0px -1520px; }
.emoji1f487 { background-position: 0px -1540px; }
.emoji1f488 { background-position: 0px -1560px; }
.emoji1f464 { background-position: 0px -9200px; } /* placeholder */
.emoji1f466 { background-position: 0px -1580px; }
.emoji1f467 { background-position: 0px -1600px; }
.emoji1f468 { background-position: 0px -1620px; }
.emoji1f469 { background-position: 0px -1640px; }
.emoji1f46a { background-position: 0px -9200px; } /* placeholder */
.emoji1f46b { background-position: 0px -1660px; }
.emoji1f46e { background-position: 0px -1680px; }
.emoji1f46f { background-position: 0px -1700px; }
.emoji1f470 { background-position: 0px -9200px; } /* placeholder */
.emoji1f471 { background-position: 0px -1720px; }
.emoji1f472 { background-position: 0px -1740px; }
.emoji1f473 { background-position: 0px -1760px; }
.emoji1f474 { background-position: 0px -1780px; }
.emoji1f475 { background-position: 0px -1800px; }
.emoji1f476 { background-position: 0px -1820px; }
.emoji1f477 { background-position: 0px -1840px; }
.emoji1f478 { background-position: 0px -1860px; }
.emoji1f479 { background-position: 0px -9200px; } /* placeholder */
.emoji1f47a { background-position: 0px -9200px; } /* placeholder */
.emoji1f47b { background-position: 0px -1880px; }
.emoji1f47c { background-position: 0px -1900px; }
.emoji1f47d { background-position: 0px -1920px; }
.emoji1f47e { background-position: 0px -1940px; }
.emoji1f47f { background-position: 0px -1960px; }
.emoji1f480 { background-position: 0px -1980px; }
.emoji1f481 { background-position: 0px -2000px; }
.emoji1f482 { background-position: 0px -2020px; }
.emoji1f483 { background-position: 0px -2040px; }
.emoji1f40c { background-position: 0px -9200px; } /* placeholder */
.emoji1f40d { background-position: 0px -2620px; }
.emoji1f40e { background-position: 0px -6680px; }
.emoji1f414 { background-position: 0px -2640px; }
.emoji1f417 { background-position: 0px -2660px; }
.emoji1f42b { background-position: 0px -2680px; }
.emoji1f418 { background-position: 0px -2480px; }
.emoji1f428 { background-position: 0px -2500px; }
.emoji1f412 { background-position: 0px -2520px; }
.emoji1f411 { background-position: 0px -2540px; }
.emoji1f419 { background-position: 0px -2340px; }
.emoji1f41a { background-position: 0px -2360px; }
.emoji1f41b { background-position: 0px -2460px; }
.emoji1f41c { background-position: 0px -9200px; } /* placeholder */
.emoji1f41d { background-position: 0px -9200px; } /* placeholder */
.emoji1f41e { background-position: 0px -9200px; } /* placeholder */
.emoji1f420 { background-position: 0px -2420px; }
.emoji1f421 { background-position: 0px -7360px; }
.emoji1f422 { background-position: 0px -9200px; } /* placeholder */
.emoji1f424 { background-position: 0px -2140px; }
.emoji1f425 { background-position: 0px -2140px; }
.emoji1f426 { background-position: 0px -2400px; }
.emoji1f423 { background-position: 0px -2140px; }
.emoji1f427 { background-position: 0px -2160px; }
.emoji1f429 { background-position: 0px -2720px; }
.emoji1f41f { background-position: 0px -7360px; }
.emoji1f42c { background-position: 0px -2380px; }
.emoji1f42d { background-position: 0px -2280px; }
.emoji1f42f { background-position: 0px -2240px; }
.emoji1f431 { background-position: 0px -2080px; }
.emoji1f433 { background-position: 0px -2300px; }
.emoji1f434 { background-position: 0px -2200px; }
.emoji1f435 { background-position: 0px -2320px; }
.emoji1f436 { background-position: 0px -2720px; }
.emoji1f437 { background-position: 0px -2780px; }
.emoji1f43b { background-position: 0px -2260px; }
.emoji1f439 { background-position: 0px -2440px; }
.emoji1f43a { background-position: 0px -2560px; }
.emoji1f42e { background-position: 0px -2580px; }
.emoji1f430 { background-position: 0px -2600px; }
.emoji1f438 { background-position: 0px -2700px; }
.emoji1f43e { background-position: 0px -6460px; }
.emoji1f432 { background-position: 0px -9200px; } /* placeholder */
.emoji1f43c { background-position: 0px -9200px; } /* placeholder */
.emoji1f43d { background-position: 0px -2780px; }
.emoji1f620 { background-position: 0px -2800px; }
.emoji1f629 { background-position: 0px -3860px; }
.emoji1f632 { background-position: 0px -2840px; }
.emoji1f61e { background-position: 0px -2860px; }
.emoji1f635 { background-position: 0px -3540px; }
.emoji1f630 { background-position: 0px -2900px; }
.emoji1f612 { background-position: 0px -2920px; }
.emoji1f60d { background-position: 0px -3660px; }
.emoji1f624 { background-position: 0px -3720px; }
.emoji1f61c { background-position: 0px -2980px; }
.emoji1f61d { background-position: 0px -3000px; }
.emoji1f60b { background-position: 0px -3220px; }
.emoji1f618 { background-position: 0px -3640px; }
.emoji1f61a { background-position: 0px -3060px; }
.emoji1f637 { background-position: 0px -3080px; }
.emoji1f633 { background-position: 0px -3100px; }
.emoji1f603 { background-position: 0px -3580px; }
.emoji1f605 { background-position: 0px -3260px; }
.emoji1f606 { background-position: 0px -3380px; }
.emoji1f601 { background-position: 0px -3720px; }
.emoji1f602 { background-position: 0px -3620px; }
.emoji1f60a { background-position: 0px -3220px; }
.emoji263a { background-position: 0px -3240px; }
.emoji1f604 { background-position: 0px -3260px; }
.emoji1f622 { background-position: 0px -3680px; }
.emoji1f62d { background-position: 0px -3300px; }
.emoji1f628 { background-position: 0px -3320px; }
.emoji1f623 { background-position: 0px -3540px; }
.emoji1f621 { background-position: 0px -3880px; }
.emoji1f60c { background-position: 0px -3380px; }
.emoji1f616 { background-position: 0px -10520px; }
.emoji1f614 { background-position: 0px -3860px; }
.emoji1f631 { background-position: 0px -3440px; }
.emoji1f62a { background-position: 0px -3460px; }
.emoji1f60f { background-position: 0px -3480px; }
.emoji1f613 { background-position: 0px -3500px; }
.emoji1f625 { background-position: 0px -3520px; }
.emoji1f62b { background-position: 0px -3540px; }
.emoji1f609 { background-position: 0px -3560px; }
.emoji1f63a { background-position: 0px -3580px; }
.emoji1f638 { background-position: 0px -3720px; }
.emoji1f639 { background-position: 0px -3620px; }
.emoji1f63d { background-position: 0px -3640px; }
.emoji1f63b { background-position: 0px -3660px; }
.emoji1f63f { background-position: 0px -3680px; }
.emoji1f63e { background-position: 0px -3880px; }
.emoji1f63c { background-position: 0px -3720px; }
.emoji1f640 { background-position: 0px -3860px; }
.emoji1f645 { background-position: 0px -3760px; }
.emoji1f646 { background-position: 0px -3780px; }
.emoji1f647 { background-position: 0px -3800px; }
.emoji1f648 { background-position: 0px -9200px; } /* placeholder */
.emoji1f64a { background-position: 0px -9200px; } /* placeholder */
.emoji1f649 { background-position: 0px -9200px; } /* placeholder */
.emoji1f64b { background-position: 0px -11240px; }
.emoji1f64c { background-position: 0px -3840px; }
.emoji1f64d { background-position: 0px -3860px; }
.emoji1f64e { background-position: 0px -3880px; }
.emoji1f64f { background-position: 0px -3900px; }
.emoji1f3e0 { background-position: 0px -3940px; }
.emoji1f3e1 { background-position: 0px -3940px; }
.emoji1f3e2 { background-position: 0px -3960px; }
.emoji1f3e3 { background-position: 0px -3980px; }
.emoji1f3e5 { background-position: 0px -4000px; }
.emoji1f3e6 { background-position: 0px -4020px; }
.emoji1f3e7 { background-position: 0px -4040px; }
.emoji1f3e8 { background-position: 0px -4060px; }
.emoji1f3e9 { background-position: 0px -4080px; }
.emoji1f3ea { background-position: 0px -4100px; }
.emoji1f3eb { background-position: 0px -4120px; }
.emoji26ea { background-position: 0px -4140px; }
.emoji26f2 { background-position: 0px -4160px; }
.emoji1f3ec { background-position: 0px -4180px; }
.emoji1f3ef { background-position: 0px -4200px; }
.emoji1f3f0 { background-position: 0px -4220px; }
.emoji1f3ed { background-position: 0px -4240px; }
.emoji2693 { background-position: 0px -6920px; }
.emoji1f3ee { background-position: 0px -8800px; }
.emoji1f5fb { background-position: 0px -4300px; }
.emoji1f5fc { background-position: 0px -4320px; }
.emoji1f5fd { background-position: 0px -4340px; }
.emoji1f5fe { background-position: 0px -9200px; } /* placeholder */
.emoji1f5ff { background-position: 0px -9200px; } /* placeholder */
.emoji1f45e { background-position: 0px -4400px; }
.emoji1f45f { background-position: 0px -4400px; }
.emoji1f460 { background-position: 0px -4420px; }
.emoji1f461 { background-position: 0px -4440px; }
.emoji1f462 { background-position: 0px -4460px; }
.emoji1f463 { background-position: 0px -6460px; }
.emoji1f453 { background-position: 0px -9200px; } /* placeholder */
.emoji1f455 { background-position: 0px -4620px; }
.emoji1f456 { background-position: 0px -9200px; } /* placeholder */
.emoji1f451 { background-position: 0px -4500px; }
.emoji1f454 { background-position: 0px -4520px; }
.emoji1f452 { background-position: 0px -4540px; }
.emoji1f457 { background-position: 0px -4560px; }
.emoji1f458 { background-position: 0px -4580px; }
.emoji1f459 { background-position: 0px -4600px; }
.emoji1f45a { background-position: 0px -4620px; }
.emoji1f45b { background-position: 0px -9200px; } /* placeholder */
.emoji1f45c { background-position: 0px -4960px; }
.emoji1f45d { background-position: 0px -9200px; } /* placeholder */
.emoji1f4b0 { background-position: 0px -4720px; }
.emoji1f4b1 { background-position: 0px -4660px; }
.emoji1f4b9 { background-position: 0px -6380px; }
.emoji1f4b2 { background-position: 0px -4720px; }
.emoji1f4b3 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4b4 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4b5 { background-position: 0px -4720px; }
.emoji1f4b8 { background-position: 0px -9200px; } /* placeholder */
.emoji1f1e81f1f3 { background-position: 0px -4740px; }
.emoji1f1e91f1ea { background-position: 0px -4760px; }
.emoji1f1ea1f1f8 { background-position: 0px -4780px; }
.emoji1f1eb1f1f7 { background-position: 0px -4800px; }
.emoji1f1ec1f1e7 { background-position: 0px -4820px; }
.emoji1f1ee1f1f9 { background-position: 0px -4840px; }
.emoji1f1ef1f1f5 { background-position: 0px -4860px; }
.emoji1f1f01f1f7 { background-position: 0px -4880px; }
.emoji1f1f71f1fa { background-position: 0px -4900px; }
.emoji1f1fa1f1f8 { background-position: 0px -4920px; }
.emoji1f525 { background-position: 0px -5040px; }
.emoji1f526 { background-position: 0px -9200px; } /* placeholder */
.emoji1f527 { background-position: 0px -9200px; } /* placeholder */
.emoji1f528 { background-position: 0px -4360px; }
.emoji1f529 { background-position: 0px -9200px; } /* placeholder */
.emoji1f52a { background-position: 0px -9200px; } /* placeholder */
.emoji1f52b { background-position: 0px -5020px; }
.emoji1f52e { background-position: 0px -5080px; }
.emoji1f52f { background-position: 0px -5080px; }
.emoji1f530 { background-position: 0px -9660px; }
.emoji1f531 { background-position: 0px -9680px; }
.emoji1f489 { background-position: 0px -5300px; }
.emoji1f48a { background-position: 0px -5320px; }
.emoji1f170 { background-position: 0px -5340px; }
.emoji1f171 { background-position: 0px -5360px; }
.emoji1f18e { background-position: 0px -5380px; }
.emoji1f17e { background-position: 0px -5400px; }
.emoji1f380 { background-position: 0px -5420px; }
.emoji1f381 { background-position: 0px -6080px; }
.emoji1f382 { background-position: 0px -5460px; }
.emoji1f384 { background-position: 0px -5480px; }
.emoji1f385 { background-position: 0px -5500px; }
.emoji1f38c { background-position: 0px -5520px; }
.emoji1f386 { background-position: 0px -5540px; }
.emoji1f388 { background-position: 0px -5560px; }
.emoji1f389 { background-position: 0px -5580px; }
.emoji1f38d { background-position: 0px -5600px; }
.emoji1f38e { background-position: 0px -5620px; }
.emoji1f393 { background-position: 0px -5640px; }
.emoji1f392 { background-position: 0px -5660px; }
.emoji1f38f { background-position: 0px -5680px; }
.emoji1f387 { background-position: 0px -5700px; }
.emoji1f390 { background-position: 0px -5720px; }
.emoji1f383 { background-position: 0px -5740px; }
.emoji1f38a { background-position: 0px -9200px; } /* placeholder */
.emoji1f38b { background-position: 0px -9200px; } /* placeholder */
.emoji1f391 { background-position: 0px -5760px; }
.emoji1f4df { background-position: 0px -9200px; } /* placeholder */
.emoji260e { background-position: 0px -5800px; }
.emoji1f4de { background-position: 0px -5800px; }
.emoji1f4f1 { background-position: 0px -5820px; }
.emoji1f4f2 { background-position: 0px -5840px; }
.emoji1f4dd { background-position: 0px -6440px; }
.emoji1f4e0 { background-position: 0px -5880px; }
.emoji2709 { background-position: 0px -11200px; }
.emoji1f4e8 { background-position: 0px -11200px; }
.emoji1f4e9 { background-position: 0px -11200px; }
.emoji1f4ea { background-position: 0px -5980px; }
.emoji1f4eb { background-position: 0px -5980px; }
.emoji1f4ee { background-position: 0px -6000px; }
.emoji1f4f0 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4e2 { background-position: 0px -6020px; }
.emoji1f4e3 { background-position: 0px -6040px; }
.emoji1f4e1 { background-position: 0px -6060px; }
.emoji1f4e4 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4e5 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4e6 { background-position: 0px -6080px; }
.emoji1f4e7 { background-position: 0px -11200px; }
.emoji1f520 { background-position: 0px -9200px; } /* placeholder */
.emoji1f521 { background-position: 0px -9200px; } /* placeholder */
.emoji1f522 { background-position: 0px -9200px; } /* placeholder */
.emoji1f523 { background-position: 0px -9200px; } /* placeholder */
.emoji1f524 { background-position: 0px -9200px; } /* placeholder */
.emoji2712 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4ba { background-position: 0px -6100px; }
.emoji1f4bb { background-position: 0px -6120px; }
.emoji270f { background-position: 0px -6440px; }
.emoji1f4ce { background-position: 0px -9200px; } /* placeholder */
.emoji1f4bc { background-position: 0px -6160px; }
.emoji1f4bd { background-position: 0px -6200px; }
.emoji1f4be { background-position: 0px -6200px; }
.emoji1f4bf { background-position: 0px -7800px; }
.emoji1f4c0 { background-position: 0px -7820px; }
.emoji2702 { background-position: 0px -6220px; }
.emoji1f4cd { background-position: 0px -9200px; } /* placeholder */
.emoji1f4c3 { background-position: 0px -6440px; }
.emoji1f4c4 { background-position: 0px -6440px; }
.emoji1f4c5 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4c1 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4c2 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4d3 { background-position: 0px -6420px; }
.emoji1f4d6 { background-position: 0px -6420px; }
.emoji1f4d4 { background-position: 0px -6420px; }
.emoji1f4d5 { background-position: 0px -6420px; }
.emoji1f4d7 { background-position: 0px -6420px; }
.emoji1f4d8 { background-position: 0px -6420px; }
.emoji1f4d9 { background-position: 0px -6420px; }
.emoji1f4da { background-position: 0px -6420px; }
.emoji1f4db { background-position: 0px -9200px; } /* placeholder */
.emoji1f4dc { background-position: 0px -9200px; } /* placeholder */
.emoji1f4cb { background-position: 0px -6440px; }
.emoji1f4c6 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4ca { background-position: 0px -6380px; }
.emoji1f4c8 { background-position: 0px -6380px; }
.emoji1f4c9 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4c7 { background-position: 0px -6420px; }
.emoji1f4cc { background-position: 0px -9200px; } /* placeholder */
.emoji1f4d2 { background-position: 0px -6420px; }
.emoji1f4cf { background-position: 0px -9200px; } /* placeholder */
.emoji1f4d0 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4d1 { background-position: 0px -6440px; }
.emoji1f3bd { background-position: 0px -9200px; } /* placeholder */
.emoji26be { background-position: 0px -6480px; }
.emoji26f3 { background-position: 0px -6500px; }
.emoji1f3be { background-position: 0px -6520px; }
.emoji26bd { background-position: 0px -6540px; }
.emoji1f3bf { background-position: 0px -6560px; }
.emoji1f3c0 { background-position: 0px -6580px; }
.emoji1f3c1 { background-position: 0px -6600px; }
.emoji1f3c2 { background-position: 0px -9200px; } /* placeholder */
.emoji1f3c3 { background-position: 0px -6620px; }
.emoji1f3c4 { background-position: 0px -6640px; }
.emoji1f3c6 { background-position: 0px -6660px; }
.emoji1f3c8 { background-position: 0px -6700px; }
.emoji1f3ca { background-position: 0px -6720px; }
.emoji1f683 { background-position: 0px -6740px; }
.emoji1f687 { background-position: 0px -6780px; }
.emoji24c2 { background-position: 0px -6780px; }
.emoji1f684 { background-position: 0px -6800px; }
.emoji1f685 { background-position: 0px -6820px; }
.emoji1f697 { background-position: 0px -6840px; }
.emoji1f699 { background-position: 0px -6860px; }
.emoji1f68c { background-position: 0px -6880px; }
.emoji1f68f { background-position: 0px -6900px; }
.emoji1f6a2 { background-position: 0px -6920px; }
.emoji2708 { background-position: 0px -6940px; }
.emoji26f5 { background-position: 0px -6960px; }
.emoji1f689 { background-position: 0px -7000px; }
.emoji1f680 { background-position: 0px -7020px; }
.emoji1f6a4 { background-position: 0px -7040px; }
.emoji1f695 { background-position: 0px -7060px; }
.emoji1f69a { background-position: 0px -7100px; }
.emoji1f692 { background-position: 0px -7120px; }
.emoji1f691 { background-position: 0px -7140px; }
.emoji1f693 { background-position: 0px -7260px; }
.emoji26fd { background-position: 0px -7180px; }
.emoji1f17f { background-position: 0px -7200px; }
.emoji1f6a5 { background-position: 0px -7220px; }
.emoji1f6a7 { background-position: 0px -9720px; }
.emoji1f6a8 { background-position: 0px -7260px; }
.emoji2668 { background-position: 0px -7280px; }
.emoji26fa { background-position: 0px -7300px; }
.emoji1f3a0 { background-position: 0px -9200px; } /* placeholder */
.emoji1f3a1 { background-position: 0px -7320px; }
.emoji1f3a2 { background-position: 0px -7340px; }
.emoji1f3a3 { background-position: 0px -7360px; }
.emoji1f3a4 { background-position: 0px -7380px; }
.emoji1f3a5 { background-position: 0px -7400px; }
.emoji1f3a6 { background-position: 0px -7420px; }
.emoji1f3a7 { background-position: 0px -7440px; }
.emoji1f3a8 { background-position: 0px -7460px; }
.emoji1f3a9 { background-position: 0px -7540px; }
.emoji1f3aa { background-position: 0px -9200px; } /* placeholder */
.emoji1f3ab { background-position: 0px -7500px; }
.emoji1f3ac { background-position: 0px -7520px; }
.emoji1f3ad { background-position: 0px -7540px; }
.emoji1f3ae { background-position: 0px -9200px; } /* placeholder */
.emoji1f004 { background-position: 0px -7560px; }
.emoji1f3af { background-position: 0px -7580px; }
.emoji1f3b0 { background-position: 0px -7600px; }
.emoji1f3b1 { background-position: 0px -7620px; }
.emoji1f3b2 { background-position: 0px -9200px; } /* placeholder */
.emoji1f3b3 { background-position: 0px -9200px; } /* placeholder */
.emoji1f3b4 { background-position: 0px -9200px; } /* placeholder */
.emoji1f0cf { background-position: 0px -9200px; } /* placeholder */
.emoji1f3b5 { background-position: 0px -7640px; }
.emoji1f3b6 { background-position: 0px -7740px; }
.emoji1f3b7 { background-position: 0px -7680px; }
.emoji1f3b8 { background-position: 0px -7700px; }
.emoji1f3b9 { background-position: 0px -9200px; } /* placeholder */
.emoji1f3ba { background-position: 0px -7720px; }
.emoji1f3bb { background-position: 0px -9200px; } /* placeholder */
.emoji1f3bc { background-position: 0px -7740px; }
.emoji303d { background-position: 0px -7760px; }
.emoji1f4f7 { background-position: 0px -4940px; }
.emoji1f4f9 { background-position: 0px -7400px; }
.emoji1f4fa { background-position: 0px -7780px; }
.emoji1f4fb { background-position: 0px -7840px; }
.emoji1f4fc { background-position: 0px -7860px; }
.emoji1f48b { background-position: 0px -7900px; }
.emoji1f48c { background-position: 0px -11200px; }
.emoji1f48d { background-position: 0px -7940px; }
.emoji1f48e { background-position: 0px -7960px; }
.emoji1f48f { background-position: 0px -7980px; }
.emoji1f490 { background-position: 0px -8000px; }
.emoji1f491 { background-position: 0px -8020px; }
.emoji1f492 { background-position: 0px -8040px; }
.emoji1f51e { background-position: 0px -9860px; }
.emojia9 { background-position: 0px -9900px; }
.emojiae { background-position: 0px -9920px; }
.emoji2122 { background-position: 0px -9940px; }
.emoji2139 { background-position: 0px -9200px; } /* placeholder */
.emoji2320e3 { background-position: 0px -8060px; }
.emoji3120e3 { background-position: 0px -8080px; }
.emoji3220e3 { background-position: 0px -8100px; }
.emoji3320e3 { background-position: 0px -8120px; }
.emoji3420e3 { background-position: 0px -8140px; }
.emoji3520e3 { background-position: 0px -8160px; }
.emoji3620e3 { background-position: 0px -8180px; }
.emoji3720e3 { background-position: 0px -8200px; }
.emoji3820e3 { background-position: 0px -8220px; }
.emoji3920e3 { background-position: 0px -8240px; }
.emoji3020e3 { background-position: 0px -8260px; }
.emoji1f51f { background-position: 0px -9200px; } /* placeholder */
.emoji1f4f6 { background-position: 0px -8280px; }
.emoji1f4f3 { background-position: 0px -8300px; }
.emoji1f4f4 { background-position: 0px -8320px; }
.emoji1f354 { background-position: 0px -8340px; }
.emoji1f359 { background-position: 0px -8360px; }
.emoji1f370 { background-position: 0px -8380px; }
.emoji1f35c { background-position: 0px -8400px; }
.emoji1f35e { background-position: 0px -8420px; }
.emoji1f373 { background-position: 0px -8440px; }
.emoji1f366 { background-position: 0px -8460px; }
.emoji1f35f { background-position: 0px -8480px; }
.emoji1f361 { background-position: 0px -8500px; }
.emoji1f358 { background-position: 0px -8520px; }
.emoji1f35a { background-position: 0px -8540px; }
.emoji1f35d { background-position: 0px -8560px; }
.emoji1f35b { background-position: 0px -8580px; }
.emoji1f362 { background-position: 0px -8600px; }
.emoji1f363 { background-position: 0px -8620px; }
.emoji1f371 { background-position: 0px -8640px; }
.emoji1f372 { background-position: 0px -8660px; }
.emoji1f367 { background-position: 0px -8680px; }
.emoji1f356 { background-position: 0px -9200px; } /* placeholder */
.emoji1f365 { background-position: 0px -9200px; } /* placeholder */
.emoji1f360 { background-position: 0px -9200px; } /* placeholder */
.emoji1f355 { background-position: 0px -9200px; } /* placeholder */
.emoji1f357 { background-position: 0px -9200px; } /* placeholder */
.emoji1f368 { background-position: 0px -9200px; } /* placeholder */
.emoji1f369 { background-position: 0px -9200px; } /* placeholder */
.emoji1f36a { background-position: 0px -9200px; } /* placeholder */
.emoji1f36b { background-position: 0px -9200px; } /* placeholder */
.emoji1f36c { background-position: 0px -9200px; } /* placeholder */
.emoji1f36d { background-position: 0px -9200px; } /* placeholder */
.emoji1f36e { background-position: 0px -9200px; } /* placeholder */
.emoji1f36f { background-position: 0px -9200px; } /* placeholder */
.emoji1f364 { background-position: 0px -9200px; } /* placeholder */
.emoji1f374 { background-position: 0px -8700px; }
.emoji2615 { background-position: 0px -8720px; }
.emoji1f378 { background-position: 0px -8860px; }
.emoji1f37a { background-position: 0px -8760px; }
.emoji1f375 { background-position: 0px -8780px; }
.emoji1f376 { background-position: 0px -8800px; }
.emoji1f377 { background-position: 0px -8860px; }
.emoji1f37b { background-position: 0px -8840px; }
.emoji1f379 { background-position: 0px -8860px; }
.emoji2197 { background-position: 0px -8960px; }
.emoji2198 { background-position: 0px -8980px; }
.emoji2196 { background-position: 0px -8920px; }
.emoji2199 { background-position: 0px -8940px; }
.emoji2934 { background-position: 0px -8960px; }
.emoji2935 { background-position: 0px -8980px; }
.emoji2194 { background-position: 0px -9200px; } /* placeholder */
.emoji2195 { background-position: 0px -9200px; } /* placeholder */
.emoji2b06 { background-position: 0px -9000px; }
.emoji2b07 { background-position: 0px -9020px; }
.emoji27a1 { background-position: 0px -9040px; }
.emoji2b05 { background-position: 0px -11180px; }
.emoji25b6 { background-position: 0px -9080px; }
.emoji25c0 { background-position: 0px -9100px; }
.emoji23e9 { background-position: 0px -9120px; }
.emoji23ea { background-position: 0px -9140px; }
.emoji23eb { background-position: 0px -9200px; } /* placeholder */
.emoji23ec { background-position: 0px -9200px; } /* placeholder */
.emoji1f53a { background-position: 0px -9200px; } /* placeholder */
.emoji1f53b { background-position: 0px -9200px; } /* placeholder */
.emoji1f53c { background-position: 0px -9200px; } /* placeholder */
.emoji1f53d { background-position: 0px -9200px; } /* placeholder */
.emoji2b55 { background-position: 0px -9800px; }
.emoji274c { background-position: 0px -10340px; }
.emoji274e { background-position: 0px -10340px; }
.emoji2757 { background-position: 0px -9160px; }
.emoji2049 { background-position: 0px -9200px; } /* placeholder */
.emoji203c { background-position: 0px -9200px; } /* placeholder */
.emoji2753 { background-position: 0px -9180px; }
.emoji2754 { background-position: 0px -9200px; }
.emoji2755 { background-position: 0px -9220px; }
.emoji3030 { background-position: 0px -9200px; } /* placeholder */
.emoji27b0 { background-position: 0px -9200px; } /* placeholder */
.emoji27bf { background-position: 0px -9200px; } /* placeholder */
.emoji2764 { background-position: 0px -9240px; }
.emoji1f493 { background-position: 0px -9480px; }
.emoji1f494 { background-position: 0px -9280px; }
.emoji1f495 { background-position: 0px -9480px; }
.emoji1f496 { background-position: 0px -9480px; }
.emoji1f497 { background-position: 0px -9340px; }
.emoji1f498 { background-position: 0px -9360px; }
.emoji1f499 { background-position: 0px -9380px; }
.emoji1f49a { background-position: 0px -9400px; }
.emoji1f49b { background-position: 0px -9420px; }
.emoji1f49c { background-position: 0px -9440px; }
.emoji1f49d { background-position: 0px -9460px; }
.emoji1f49e { background-position: 0px -9480px; }
.emoji1f49f { background-position: 0px -9500px; }
.emoji2665 { background-position: 0px -9520px; }
.emoji2660 { background-position: 0px -9540px; }
.emoji2666 { background-position: 0px -9560px; }
.emoji2663 { background-position: 0px -9580px; }
.emoji1f6ac { background-position: 0px -9600px; }
.emoji1f6ad { background-position: 0px -9620px; }
.emoji267f { background-position: 0px -9640px; }
.emoji1f6a9 { background-position: 0px -9200px; } /* placeholder */
.emoji26a0 { background-position: 0px -9700px; }
.emoji26d4 { background-position: 0px -9720px; }
.emoji267b { background-position: 0px -9200px; } /* placeholder */
.emoji1f6b2 { background-position: 0px -6980px; }
.emoji1f6b6 { background-position: 0px -7080px; }
.emoji1f6b9 { background-position: 0px -9740px; }
.emoji1f6ba { background-position: 0px -9760px; }
.emoji1f6c0 { background-position: 0px -5220px; }
.emoji1f6bb { background-position: 0px -5240px; }
.emoji1f6bd { background-position: 0px -5260px; }
.emoji1f6be { background-position: 0px -5280px; }
.emoji1f6bc { background-position: 0px -9780px; }
.emoji1f6aa { background-position: 0px -9200px; } /* placeholder */
.emoji1f6ab { background-position: 0px -9200px; } /* placeholder */
.emoji2714 { background-position: 0px -9200px; } /* placeholder */
.emoji1f191 { background-position: 0px -9200px; } /* placeholder */
.emoji1f192 { background-position: 0px -10020px; }
.emoji1f193 { background-position: 0px -9200px; } /* placeholder */
.emoji1f194 { background-position: 0px -11020px; }
.emoji1f195 { background-position: 0px -9980px; }
.emoji1f196 { background-position: 0px -9200px; } /* placeholder */
.emoji1f197 { background-position: 0px -9880px; }
.emoji1f198 { background-position: 0px -9200px; } /* placeholder */
.emoji1f199 { background-position: 0px -10000px; }
.emoji1f19a { background-position: 0px -9960px; }
.emoji1f201 { background-position: 0px -10060px; }
.emoji1f202 { background-position: 0px -10080px; }
.emoji1f232 { background-position: 0px -9200px; } /* placeholder */
.emoji1f233 { background-position: 0px -10100px; }
.emoji1f234 { background-position: 0px -9200px; } /* placeholder */
.emoji1f235 { background-position: 0px -10120px; }
.emoji1f236 { background-position: 0px -10140px; }
.emoji1f21a { background-position: 0px -10160px; }
.emoji1f237 { background-position: 0px -10180px; }
.emoji1f238 { background-position: 0px -10200px; }
.emoji1f239 { background-position: 0px -10220px; }
.emoji1f22f { background-position: 0px -10240px; }
.emoji1f23a { background-position: 0px -10260px; }
.emoji3299 { background-position: 0px -10280px; }
.emoji3297 { background-position: 0px -10300px; }
.emoji1f250 { background-position: 0px -10320px; }
.emoji1f251 { background-position: 0px -9200px; } /* placeholder */
.emoji2795 { background-position: 0px -9200px; } /* placeholder */
.emoji2796 { background-position: 0px -9200px; } /* placeholder */
.emoji2716 { background-position: 0px -10340px; }
.emoji2797 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4a0 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4a1 { background-position: 0px -10360px; }
.emoji1f4a2 { background-position: 0px -10380px; }
.emoji1f4a3 { background-position: 0px -10400px; }
.emoji1f4a4 { background-position: 0px -10420px; }
.emoji1f4a5 { background-position: 0px -9200px; } /* placeholder */
.emoji1f4a6 { background-position: 0px -10460px; }
.emoji1f4a7 { background-position: 0px -10460px; }
.emoji1f4a8 { background-position: 0px -10480px; }
.emoji1f4a9 { background-position: 0px -5000px; }
.emoji1f4aa { background-position: 0px -10500px; }
.emoji1f4ab { background-position: 0px -10520px; }
.emoji1f4ac { background-position: 0px -9200px; } /* placeholder */
.emoji2728 { background-position: 0px -11000px; }
.emoji2734 { background-position: 0px -10560px; }
.emoji2733 { background-position: 0px -10580px; }
.emoji26aa { background-position: 0px -10640px; }
.emoji26ab { background-position: 0px -10640px; }
.emoji1f534 { background-position: 0px -10640px; }
.emoji1f535 { background-position: 0px -10900px; }
.emoji1f532 { background-position: 0px -10900px; }
.emoji1f533 { background-position: 0px -10980px; }
.emoji2b50 { background-position: 0px -10720px; }
.emoji2b1c { background-position: 0px -10980px; }
.emoji2b1b { background-position: 0px -10900px; }
.emoji25ab { background-position: 0px -10980px; }
.emoji25aa { background-position: 0px -10900px; }
.emoji25fd { background-position: 0px -10980px; }
.emoji25fe { background-position: 0px -10900px; }
.emoji25fb { background-position: 0px -10980px; }
.emoji25fc { background-position: 0px -10900px; }
.emoji1f536 { background-position: 0px -10980px; }
.emoji1f537 { background-position: 0px -10980px; }
.emoji1f538 { background-position: 0px -10980px; }
.emoji1f539 { background-position: 0px -10980px; }
.emoji2747 { background-position: 0px -11000px; }
.emoji1f4ae { background-position: 0px -9200px; } /* placeholder */
.emoji1f4af { background-position: 0px -9200px; } /* placeholder */
.emoji21a9 { background-position: 0px -9200px; } /* placeholder */
.emoji21aa { background-position: 0px -9200px; } /* placeholder */
.emoji1f503 { background-position: 0px -9200px; } /* placeholder */
.emoji1f50a { background-position: 0px -7880px; }
.emoji1f50b { background-position: 0px -9200px; } /* placeholder */
.emoji1f50c { background-position: 0px -9200px; } /* placeholder */
.emoji1f50d { background-position: 0px -11060px; }
.emoji1f50e { background-position: 0px -11060px; }
.emoji1f512 { background-position: 0px -11140px; }
.emoji1f513 { background-position: 0px -11100px; }
.emoji1f50f { background-position: 0px -11140px; }
.emoji1f510 { background-position: 0px -11140px; }
.emoji1f511 { background-position: 0px -11160px; }
.emoji1f514 { background-position: 0px -4980px; }
.emoji2611 { background-position: 0px -9200px; } /* placeholder */
.emoji1f518 { background-position: 0px -9200px; } /* placeholder */
.emoji1f516 { background-position: 0px -9200px; } /* placeholder */
.emoji1f517 { background-position: 0px -9200px; } /* placeholder */
.emoji1f519 { background-position: 0px -11180px; }
.emoji1f51a { background-position: 0px -9200px; } /* placeholder */
.emoji1f51b { background-position: 0px -9200px; } /* placeholder */
.emoji1f51c { background-position: 0px -9200px; } /* placeholder */
.emoji1f51d { background-position: 0px -10040px; }
.emoji2003 { background-position: 0px -9200px; } /* placeholder */
.emoji2002 { background-position: 0px -9200px; } /* placeholder */
.emoji2005 { background-position: 0px -9200px; } /* placeholder */
.emoji2705 { background-position: 0px -9200px; } /* placeholder */
.emoji270a { background-position: 0px -11220px; }
.emoji270b { background-position: 0px -11240px; }
.emoji270c { background-position: 0px -11260px; }
.emoji1f44a { background-position: 0px -11280px; }
.emoji1f44d { background-position: 0px -11300px; }
.emoji261d { background-position: 0px -11320px; }
.emoji1f446 { background-position: 0px -11340px; }
.emoji1f447 { background-position: 0px -11360px; }
.emoji1f448 { background-position: 0px -11380px; }
.emoji1f449 { background-position: 0px -11400px; }
.emoji1f44b { background-position: 0px -11420px; }
.emoji1f44f { background-position: 0px -11440px; }
.emoji1f44c { background-position: 0px -11460px; }
.emoji1f44e { background-position: 0px -11480px; }
.emoji1f450 { background-position: 0px -11500px; }

/*qq emoji*/
.qqemoji { background: url("../images/qqSmilies1844c2.png") top left no-repeat; width: 24px; height: 24px; display:inline; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; }
.qqemoji0 { background-position: -2px -2px; }
.qqemoji1 { background-position: -31px -2px; }
.qqemoji2 { background-position: -60px -2px; }
.qqemoji3 { background-position: -89px -2px; }
.qqemoji4 { background-position: -118px -2px; }
.qqemoji5 { background-position: -147px -2px; }
.qqemoji6 { background-position: -176px -2px; }
.qqemoji7 { background-position: -205px -2px; }
.qqemoji8 { background-position: -234px -2px; }
.qqemoji9 { background-position: -263px -2px; }
.qqemoji10 { background-position: -292px -2px; }
.qqemoji11 { background-position: -321px -2px; }
.qqemoji12 { background-position: -350px -2px; }
.qqemoji13 { background-position: -379px -2px; }
.qqemoji14 { background-position: -408px -2px; }
.qqemoji15 { background-position: -2px -31px; }
.qqemoji16 { background-position: -31px -31px; }
.qqemoji17 { background-position: -60px -31px; }
.qqemoji18 { background-position: -89px -31px; }
.qqemoji19 { background-position: -118px -31px; }
.qqemoji20 { background-position: -147px -31px; }
.qqemoji21 { background-position: -176px -31px; }
.qqemoji22 { background-position: -205px -31px; }
.qqemoji23 { background-position: -234px -31px; }
.qqemoji24 { background-position: -263px -31px; }
.qqemoji25 { background-position: -292px -31px; }
.qqemoji26 { background-position: -321px -31px; }
.qqemoji27 { background-position: -350px -31px; }
.qqemoji28 { background-position: -379px -31px; }
.qqemoji29 { background-position: -408px -31px; }
.qqemoji30 { background-position: -2px -60px; }
.qqemoji31 { background-position: -31px -60px; }
.qqemoji32 { background-position: -60px -60px; }
.qqemoji33 { background-position: -89px -60px; }
.qqemoji34 { background-position: -118px -60px; }
.qqemoji35 { background-position: -147px -60px; }
.qqemoji36 { background-position: -176px -60px; }
.qqemoji37 { background-position: -205px -60px; }
.qqemoji38 { background-position: -234px -60px; }
.qqemoji39 { background-position: -263px -60px; }
.qqemoji40 { background-position: -292px -60px; }
.qqemoji41 { background-position: -321px -60px; }
.qqemoji42 { background-position: -350px -60px; }
.qqemoji43 { background-position: -379px -60px; }
.qqemoji44 { background-position: -408px -60px; }
.qqemoji45 { background-position: -2px -89px; }
.qqemoji46 { background-position: -31px -89px; }
.qqemoji47 { background-position: -60px -89px; }
.qqemoji48 { background-position: -89px -89px; }
.qqemoji49 { background-position: -118px -89px; }
.qqemoji50 { background-position: -147px -89px; }
.qqemoji51 { background-position: -176px -89px; }
.qqemoji52 { background-position: -205px -89px; }
.qqemoji53 { background-position: -234px -89px; }
.qqemoji54 { background-position: -263px -89px; }
.qqemoji55 { background-position: -292px -89px; }
.qqemoji56 { background-position: -321px -89px; }
.qqemoji57 { background-position: -350px -89px; }
.qqemoji58 { background-position: -379px -89px; }
.qqemoji59 { background-position: -408px -89px; }
.qqemoji60 { background-position: -2px -118px; }
.qqemoji61 { background-position: -31px -118px; }
.qqemoji62 { background-position: -60px -118px; }
.qqemoji63 { background-position: -89px -118px; }
.qqemoji64 { background-position: -118px -118px; }
.qqemoji65 { background-position: -147px -118px; }
.qqemoji66 { background-position: -176px -118px; }
.qqemoji67 { background-position: -205px -118px; }
.qqemoji68 { background-position: -234px -118px; }
.qqemoji69 { background-position: -263px -118px; }
.qqemoji70 { background-position: -292px -118px; }
.qqemoji71 { background-position: -321px -118px; }
.qqemoji72 { background-position: -350px -118px; }
.qqemoji73 { background-position: -379px -118px; }
.qqemoji74 { background-position: -408px -118px; }
.qqemoji75 { background-position: -2px -147px; }
.qqemoji76 { background-position: -31px -147px; }
.qqemoji77 { background-position: -60px -147px; }
.qqemoji78 { background-position: -89px -147px; }
.qqemoji79 { background-position: -118px -147px; }
.qqemoji80 { background-position: -147px -147px; }
.qqemoji81 { background-position: -176px -147px; }
.qqemoji82 { background-position: -205px -147px; }
.qqemoji83 { background-position: -234px -147px; }
.qqemoji84 { background-position: -263px -147px; }
.qqemoji85 { background-position: -292px -147px; }
.qqemoji86 { background-position: -321px -147px; }
.qqemoji87 { background-position: -350px -147px; }
.qqemoji88 { background-position: -379px -147px; }
.qqemoji89 { background-position: -408px -147px; }
.qqemoji90 { background-position: -2px -176px; }
.qqemoji91 { background-position: -31px -176px; }
.qqemoji92 { background-position: -60px -176px; }
.qqemoji93 { background-position: -89px -176px; }
.qqemoji94 { background-position: -118px -176px; }
.qqemoji95 { background-position: -147px -176px; }
.qqemoji96 { background-position: -176px -176px; }
.qqemoji97 { background-position: -205px -176px; }
.qqemoji98 { background-position: -234px -176px; }
.qqemoji99 { background-position: -263px -176px; }
.qqemoji100 { background-position: -292px -176px; }
.qqemoji101 { background-position: -321px -176px; }
.qqemoji102 { background-position: -350px -176px; }
.qqemoji103 { background-position: -379px -176px; }
.qqemoji104 { background-position: -408px -176px; }