/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: Blue Monday
 *
 * Copyright (c) 2010-2011 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Silvia Benvenuti
 * Skin Version: 4.0 (jPlayer 2.1.0)
 * Date: 1st September 2011
 */
div.videoPlayerContainer {
    box-shadow: 0 1px 12px #777;
}
div.jp-audio,
div.jp-video {

    /* Edit the font-size to counteract inherited font sizing.
     * Eg. 1.25em = 1 / 0.8em
     */

    font-size:1em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

    font-family:Verdana, Arial, sans-serif;
    line-height:1.6;
    color: #666;
    /*border:1px solid #009be3;*/
    /*background-color:#eee;*/
    position:relative;
}
div.jp_header {
    height: 36px;
    background: #F2F2F2;
    border-radius: 6px 6px 0 0;
}

div.jp_header a.ico_close_circle {
    background: url(../images/icon_video1844c2.png) no-repeat -193px -32px transparent;
    height: 23px;
    width: 23px;
    position: static;
    margin: 5px 7px 0 0;
    float: right;
}
div.jp_header a.ico_close_circle:hover {
    background-position: -193px 0px;
}
div.jp-audio {
    /*width:420px;*/
    width:766px;
}
div.jp-video-270p {
    /*width:480px;*/
    width:766px;
}
div.jp-video-360p {
    /*width:640px;*/
    width:766px;
}
div.jp-video-full {
    /* Rules for IE6 (full-screen) */
    width:480px;
    height:270px;
    /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
    position:static !important; position:relative
}

div.jp-video-full div.jp-jplayer {
    top: 0;
    left: 0;
    position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
    overflow: hidden;
    z-index:1000;
}

div.jp-video-full div.jp-gui {
    position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1000;
}

div.jp-video-full div.jp-interface {
    position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
    bottom: 0;
    left: 0;
    z-index:1000;
}

div.jp-interface {
    /*position: relative;*/
    background-color:#eee;
    width:100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
    height:80px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
    height:80px;
}

div.jp-video div.jp-interface {
    /*border-top:1px solid #009be3;*/
    border-radius: 0 0 6px 6px;
}

/* @group CONTROLS */

div.jp-controls-holder {
    clear: both;
    /*width:440px;*/
    /*margin:15px auto 0;*/
    position: relative;
    overflow:hidden;
    /*top:-8px;*//*This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

div.jp-interface ul.jp-controls {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
}

div.jp-audio ul.jp-controls {
    width: 380px;
    padding:20px 20px 0 20px;
}

div.jp-video div.jp-type-single ul.jp-controls {
    width: 78px;
    margin: 15px 13px;
    /*margin-left: 200px;*/
}

div.jp-video div.jp-type-playlist ul.jp-controls {
    width: 134px;
    margin-left: 172px;
}
div.jp-video ul.jp-controls,
div.jp-interface ul.jp-controls li {
    display:inline;
    float: left;
}

div.jp-interface ul.jp-controls a {
    display:block;
    overflow:hidden;
    text-indent:-9999px;
}
a.jp-play,
a.jp-pause {
    width:34px;
    height:25px;
}

a.jp-play {
    background: url("../images/icon_video1844c2.png") 0px -65px no-repeat transparent;
    margin-right: 6px;
}
a.jp-play:hover {
    background-position:-48px -65px;
}
a.jp-pause {
    background: url("../images/icon_video1844c2.png") 0 -33px no-repeat transparent;
    margin-right: 6px;
    display: none;
}
a.jp-pause:active {
    background-position:-48px -33px;
}

a.jp-stop, a.jp-previous, a.jp-next {
    width:28px;
    height:28px;
    /*margin-top:6px;*/
}

a.jp-stop {
    background: url("../images/icon_video1844c2.png") 0px -1px no-repeat transparent;
    height: 25px;
    width: 34px;
}

a.jp-stop:active {
    background-position: -48px -1px;
}

a.jp-previous {
    background: url("../images/jplayer.blue.monday1844c2.jpg") 0 -112px no-repeat;
}
a.jp-previous:active {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -29px -112px no-repeat;
}

a.jp-next {
    background: url("../images/jplayer.blue.monday1844c2.jpg") 0 -141px no-repeat;
}
a.jp-next:active {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -29px -141px no-repeat;
}

/* @end */

/* @group progress bar */

div.jp-progress {
    overflow:hidden;
}
div.jp-audio div.jp-progress {
    position: absolute;
    top:32px;
    height:15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
    left:110px;
    width:186px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
    left:166px;
    width:130px;
}
div.jp-video div.jp-progress {
    bottom: 19px;
    left: 96px;
    width: 528px;
    height: 16px;
    position: absolute;
}
div.jp-seek-bar {
    background:url(../images/icon_video_progress1844c2.png) no-repeat 0 0;
    width:0px;
    height:16px;
    cursor: pointer;
}
div.jp-play-bar {
    /*background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;*/
    width:528px;
    height:12px;
    background: url(../images/icon_video_progress_green1844c2.png) no-repeat 1px 1px;
    /* background-size: 100% 100%; */
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
    /*background: url("jplayer.blue.monday.seeking.gif");*/
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
    width:18px;
    height:15px;
    margin-top:12px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 210px;
}

div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
    margin-left: 154px;
}

div.jp-audio a.jp-volume-max {
    display: none;
    margin-left: 56px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute,
div.jp-video a.jp-volume-max {
    position: absolute;
    top:17px;
    margin-top:0;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
    left: 631px;
    width: 17px;
    z-index: 10;
}

div.jp-video a.jp-volume-max {
    display: none;
    left: 780px;
}

a.jp-mute {
    background: url(../images/icon_video1844c2.png) -160px 0px no-repeat;
    height: 18px;
    width: 11px;
}
a.jp-mute:hover {
    /*background: url("jplayer.blue.monday.jpg") -19px -170px no-repeat;*/
}
a.jp-unmute {
    background: url(../images/icon_video1844c2.png) -160px -32px no-repeat;
    height: 18px;
    width: 11px;
    display: none;
}
a.jp-unmute:hover {
    /*background: url("jplayer.blue.monday.jpg") -79px -170px no-repeat;*/
}
a.jp-volume-max {
    display: none;
    background: url("../images/jplayer.blue.monday1844c2.jpg") 0 -186px no-repeat;
}
a.jp-volume-max:hover {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -19px -186px no-repeat;
}

div.jp-volume-bar {
    position: absolute;
    overflow: hidden;
    background: url(../images/icon_video1844c2.png) no-repeat -97px -64px;
    width: 76px;
    height: 10px;
    cursor: pointer;
}
div.jp-audio div.jp-volume-bar {
    top:37px;
    left:330px;
}
div.jp-video div.jp-volume-bar {
    left: 641px;
    bottom: 22px;
}
div.jp-volume-bar-value {
    background: url(../images/icon_video_voice_green1844c2.png) no-repeat 0 0;
    height: 10px;
    background-size: 100% 100%;
    margin-top:-2px;
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
    position:absolute;
    top:50px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
    left:110px;
    width:186px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
    left:166px;
    width:130px;
}

/*span.jp-current-time,
span.jp-duration {
	width:60px;
	font-size:.64em;
	font-style:oblique;
}*/
/*div.jp-current-time {
	float: left;
	display:inline;
}
div.jp-duration {
	float: right;
	display:inline;
	text-align: right;
}*/

div.jp-time-info {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 14px;
    text-shadow: none;
    color: #fff;
    display:none;
}

/* @end */

/* @group playlist */

div.jp-title {
    font-weight:bold;
    text-align:center;
}

div.jp-title,
div.jp-playlist {
    width:100%;
    background-color:#ccc;
    /*border-top:1px solid #009be3;*/
}
div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
div.jp-type-single div.jp-playlist {
    border-top:none;
}
div.jp-title ul,
div.jp-playlist ul {
    list-style-type:none;
    margin:0;
    padding:0 20px;
    font-size:.72em;
}

div.jp-title li {
    padding:5px 0;
    font-weight:bold;
}
div.jp-playlist li {
    padding:5px 0 4px 20px;
    border-bottom:1px solid #eee;
}

div.jp-playlist li div {
    display:inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

div.jp-type-playlist div.jp-playlist li:last-child {
    padding:5px 0 5px 20px;
    border-bottom:none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    list-style-type:square;
    list-style-position:inside;
    padding-left:7px;
}
div.jp-type-playlist div.jp-playlist a {
    color: #333;
    text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
    color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    color:#0d88c1;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
    float:right;
    display:inline;
    text-align:right;
    margin-right:10px;
    font-weight:bold;
    color:#666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
    color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
    float:right;
    display:inline;
    text-align:right;
    margin-right:10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
    color:#666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
    color:#0d88c1;
}
span.jp-artist {
    font-size:.8em;
    color:#666;
}

/* @end */

div.jp-video-play {
    position:absolute;
    top:35px;
    left:0;
    width:100%;
    cursor:pointer;
    background-color:rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
div.jp-video-270p div.jp-video-play {
    height:270px;
}
div.jp-video-360p div.jp-video-play {
    height:360px;
}
div.jp-video-full div.jp-video-play {
    height:100%;
    z-index:1000;
}
a.jp-video-play-icon {
    position:relative;
    display:block;
    width: 112px;
    height: 100px;

    margin-left:-56px;
    margin-top:-50px;
    left:50%;
    top:50%;

    /*background: url("jplayer.blue.monday.video.play.png") 0 0 no-repeat;*/
    text-indent:-9999px;
}
div.jp-video-play:hover a.jp-video-play-icon {
    /*background: url("jplayer.blue.monday.video.play.png") 0 -100px no-repeat;*/
}





div.jp-jplayer audio,
div.jp-jplayer {
    width:0px;
    height:0px;
}

div.jp-jplayer {
    background-color: #000000;
    filter:progid:DXImageTransform.Microsoft.Matrix(sizingmethod="auto expand");
}





/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
    list-style-type:none;
    padding:0;
    margin:0 auto;
    overflow:hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
    width:25px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
    width:55px;
    margin: 0;
    position: absolute;
    left: 325px;
    top: 50px;
}

div.jp-video ul.jp-toggles {
    margin-top:18px;
}

ul.jp-toggles li {
    display:block;
    float:right;
}

ul.jp-toggles li a {
    display:block;
    width:28px;
    height:18px;
    text-indent:-9999px;
    line-height:100%; /* need this for IE6 */
}
ul.jp-toggles li a.jp-download-screen{
    height:15px;
    width:25px;
    background:url("../images/icon_video1844c2.png") -127px 0px no-repeat transparent;
}
ul.jp-toggles li a.jp-download-screen:hover{
    background-position:-127px -32px;
}
a.jp-full-screen {
    background:url("../images/icon_video1844c2.png") -97px 0px no-repeat transparent;
    height: 15px;
    width: 15px;
}

a.jp-full-screen:hover {
    background-position: -97px -32px ;
}

a.jp-restore-screen {
    background: url("../images/icon_video1844c2.png") -97px 0px no-repeat transparent;
    margin-left: 20px;
}

a.jp-restore-screen:hover {
    background-position: -97px -32px ;
}

a.jp-repeat {
    background: url("../images/jplayer.blue.monday1844c2.jpg") 0 -290px no-repeat;
}

a.jp-repeat:hover {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -30px -290px no-repeat;
}

a.jp-repeat-off {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -60px -290px no-repeat;
}

a.jp-repeat-off:hover {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -90px -290px no-repeat;
}

a.jp-shuffle {
    background: url("../images/jplayer.blue.monday1844c2.jpg") 0 -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle:hover {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -30px -270px no-repeat;
}

a.jp-shuffle-off {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -60px -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle-off:hover {
    background: url("../images/jplayer.blue.monday1844c2.jpg") -90px -270px no-repeat;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
    position:absolute;
    width:390px;
    margin-left:-202px;
    left:50%;
    top: 10px;

    padding:5px;
    font-size:.8em;
    background-color:#eee;
    border:2px solid #009be3;
    color:#000;
    display:none;
}

.jp-no-solution a {
    color:#000;
}

.jp-no-solution span {
    font-size:1em;
    display:block;
    text-align:center;
    font-weight:bold;
}

/* @end */