html, body { height:100%; background:#4E5359 url(../images/bg_universal1844c2.png) repeat 0 0;
    color:#666;
    font:14px/1.5 Helvetica,"ﾎ｢ﾈ樰ﾅｺﾚ","ｺﾚﾌ",Arial,Tahoma;
    text-align:center; overflow-y: hidden;}

#login_container {
    height:100%;
    width:100%;
    text-shadow:0 1px 1px #333333;
}
#login_container a:link, a:visited {
    color:#5555AA;
    text-decoration:none;
}
#login_container a:hover, a:active {
    color:#5555AA;
    text-decoration:underline;
}
#login_container .left {
    float:left;
}
#login_container .right {
    float:right;
}
#login_container .clear {
    clear:both;
}
#login_container .mask {
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.4;
    position:absolute;
    top:0;
    width:100%;
    z-index:998;
    display:none;
}
#login_container .dialog {
    border:1px solid #BEBEBE;
    border-radius:3px 3px 3px 3px;
    box-shadow:0 6px 10px #CCCCCC;
    position:absolute;
    width:400px;
    z-index:999;
}
#login_container .dialogContainer {
    background:-moz-linear-gradient(center top , #F0F0F0, #E5E5E5) repeat scroll 0 0 transparent;
    border-radius:4px 4px 4px 4px;
    border-top:1px solid #FFFFFF;
    width:100%;
}
#login_container .dialogContent {
    color:#666666;
    font-size:20px;
    min-height:60px;
    padding:40px 20px 10px;
    text-align:center;
    text-shadow:0 1px 0 #FFFFFF;
}
#login_container .dialogOperator {
    margin:0 auto;
    overflow:hidden;
    padding:10px 20px 20px;
    text-align:center;
}
#login_container .dialogOperator .inwrap {
    float:left;
    left:50%;
    position:relative;
}
#login_container .dialogOperator .wrapContent {
    float:left;
    left:-50%;
    position:relative;
}
#login_container .dialog a.btn {
    border-radius:3px 3px 3px 3px;
    display:block;
    float:left;
    margin:0 5px 1px;
    text-align:center;
    text-decoration:none;
}
#login_container .dialog a.btn b {
    border-radius:2px 2px 2px 2px;
    display:block;
    font-size:16px;
    height:30px;
    line-height:30px;
    padding:0 40px;
    text-align:center;
    text-shadow:none;
}
#login_container .dialog a.btn:active {
    margin:1px 5px 0;
}
#login_container .tourTip .dialogContainer {
    background:-moz-linear-gradient(center top , #FFFFFF, #F9F9F9) repeat scroll 0 0 transparent;
}
#login_container .tourTipContent {
    padding:50px 20px 20px;
}
#login_container .tourTipContent .desc {
    padding:20px 0;
}
#login_container .dialog a.btnClose {
    border-radius:20px 20px 20px 20px;
    height:24px;
    margin:10px;
    position:absolute;
    right:0;
    width:24px;
}
#login_container .dialog a.btnClose:hover, .dialog a.btnClose:active {
    background:none repeat scroll 0 0 #DDDDDD;
}
#login_container .dialog a.btnClose img {
    margin:5px;
}
#login_container .container {
}
#login_container .clr {
    clear:both;
    height:1px;
    overflow:hidden;
}
#login_container .clrLeft {
    clear:left;
    height:1px;
    overflow:hidden;
}
#login_container .clrRight {
    clear:right;
    height:1px;
    overflow:hidden;
}
#login_container .loginPanel {
    border: none;
    margin:0 auto;
    padding:17px 0 0;
    text-align:center;
    position:static;
}
#login_container .loginPanel .lastA{
    border:none;
}
#login_container .loginPanel .lang a{
    float:right;
    display:block;
    width:37px;
    height:11px;
    line-height:11px;
    font-size:12px;
    text-align:center;
    text-decoration:none;
    text-shadow:0px 1px 0px #2c2c2c;
    color:#a3a3a3;
    border-right:1px solid #6f6e6e;
}
#login_container .loginPanel .lang a:hover{
    color:#e0e0e0;
}
#login_container .loginPanel .title {

    /*png24 ie6 hack
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/common/login/images/logo_login.png',sizingMethod='crop');*/

    border-radius: 4px 4px 0 0;
    font-size: 32px;
    line-height: 50px;
    margin: 0 auto 10px;
    text-indent: -9999px;
    text-shadow: 0 2px 0 #333;
    height: 78px;
    width: 60px;
}
#login_container .loginPanel .logoTitle {
    background: url(../images/login/logo_login1844c2.png) no-repeat scroll 0px 32px transparent;
}
#login_container .loginPanel .enlogoTitle {
    background: url(../images/login/logo_login_en1844c2.png) no-repeat scroll 0px 32px transparent;
    width: 108px;
}
#login_container .loginPanel .lang{
    position:relative;
    bottom:-32px;
    width:722px;
    height:11px;
    margin:0px auto -20px;
}
#login_container .loginPanel .lang h3{
    float:right;
}
#login_container .loginPanel .lang .lastA{
    border:none;
}
#login_container .loginPanel .lang a{
    float:right;
    display:block;
    height:11px;
    width:37px;
    line-height:11px;
    border-right:1px solid #6D787D;
    font-size:12px;
    color:#9CA1A4;
    text-align:center;
    text-shadow:0px 1px 0px #000;
    text-decoration:none;
}
#login_container .loginPanel .lang a:hover{
    color:#fff;
}
#login_container .loginPanel .panelContent {
    padding:0;
}
#login_container .loginPanel .panelContent .qrcodeContent{
    height:310px;
}
#login_container .loginPanel .qrcodePanel{
    width:331px;
    height:330px;
    margin:0px auto;
    padding:5px;
    /*background:url("../images/login/QR_shadow1844c2.png") no-repeat -1px -3px;*/
}
#login_container .loginPanel .qrcode {
    width:auto;
    box-shadow:0 4px 3px #333333;
    border: none;
}
#login_container .loginPanel .qrcode:hover .guide{/**/
    /*display:block;*/
}
#login_container .loginPanel .info {
    height:176px;
    margin:0 auto;
    padding:7px 0 0;
}
#login_container .loginPanel .normlDesc {
    color:#B4B7BC;
    display:inline-block;
    font-size:16px;
    line-height:48px;
    margin-top:21px;
}
#login_container .loginPanel .loginTip {
    background:url(../images/login/bg_login_scan_middle1844c2.png) repeat-x scroll 0 0 transparent;

    /*png24 ie6 hack
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/common/login/images/bg_login_scan_middle.png',sizingMethod='crop');*/

    font-size:12px;
    height:48px;
    margin:10px auto;
    width:230px;
}
#login_container .loginPanel .loginTipL {
    background:url(../images/login/bg_login_scan_left1844c2.png) no-repeat scroll 0 0 transparent;

    /*png24 ie6 hack
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/common/login/images/bg_login_scan_left.png',sizingMethod='crop');*/

    display:block;
    float:left;
    height:48px;
    margin-left:-26px;
    width:26px;
}
#login_container .loginPanel .loginTipR {
    background:url(../images/login/bg_login_scan_right1844c2.png) no-repeat scroll 0 0 transparent;

    /*png24 ie6 hack
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/common/login/images/bg_login_scan_right.png',sizingMethod='crop');*/

    display:block;
    float:right;
    height:48px;
    margin-right:-26px;
    width:26px;
}
#login_container .loginPanel .msgBox {
    color:#bdc6cb;
    margin:0 auto;
    text-align:left;
    font-family:'ﾋﾎﾌ';
    text-shadow:0 1px 0px #505050;
    width:328px;
}
#login_container .loginPanel .msgBox h3 {
    font-size:14px;
    /*margin-bottom:4px;*/
}
#login_container .loginPanel .msgBox p {
    font-size:14px;
    margin: 0 20px;
}
#login_container .loginPanel .msgBox .msgBoxTop {
    background:url(../images/login/bg_login_scan_top1844c2.png) no-repeat scroll 0 0 transparent;
    height:36px;
    width:328px;
}
#login_container .loginPanel .msgBox .msgBoxMid {
    background:url(../images/login/bg_login_scan_mid1844c2.png) repeat-y scroll 0 0 transparent;
    padding:10px 0 0;
    width:328px;
}
#login_container .loginPanel .msgBox .msgBoxBtm {
    background:url(../images/login/bg_login_scan_btm1844c2.png) no-repeat scroll 0 0 transparent;
    height:36px;
    width:328px;
}
#login_container .loginPanel .msgBox.successMsg {
    display:none;
}
#login_container .loginPanel .msgBox .successMsgTipPic {
    background:url(../images/login/button_login1844c2.png) no-repeat scroll -121px 0 transparent;
    /*height:90px;
    margin:0 auto;
    width:70px;*/
    height:86px;
    width:81px;
    margin:-21px 8px -18px 39px;
    float:left;
}
#login_container .loginPanel .msgBox .errorMsgTipPic {
    /*background:url(../images/login/button_login1844c2.png) no-repeat scroll -198px -5px transparent;*/
    background:url(../images/login/button_login1844c2.png) no-repeat scroll -198px 4px transparent;
    /*height:90px;*/
    height:86px;
    width:81px;
    margin:-21px 8px -18px 39px;
    /* margin:-23px 8px 0 33px;*/
    /*width:90px;*/
    float:left;
}
#login_container .loginPanel a.operatorBtn {
    margin-top:10px;
}
#login_container .guide{
    position:absolute;
    top:50px;
    filter:alpha(opacity=50);
    margin:18px auto 0px;
    display: none;
}
#login_container .zoomIn {
    cursor:-moz-zoom-in;
}
#login_container .zoomOut {
    cursor:-moz-zoom-out;
}
#login_container .slidePic {
    float:left;
    position:absolute;
}
#login_container .slidePic img {
    box-shadow:0 4px 30px #333333;
    position:absolute;
    z-index:49;
}
#login_container .normalPanel {
}
#login_container .lightText {
    color:#CCCCCC;
}
#login_container .footer {
    position: absolute;
    bottom: 36px;
    left: 50%;
    margin-left: -250px;
    margin-bottom: -15px;
    width: 500px;
    color: #2E3035;
    text-shadow: 0 1px 0 #5D5F61;
    text-align: center;
    font: 14px 'ﾎ｢ﾈ樰ﾅｺﾚ';
}
#login_container .footer span{
    font:12px 'ﾎ｢ﾈ樰ﾅｺﾚ';
}
#login_container .icon_faqWrap {
    width:362px;
    height:25px;
    margin:0 auto;
    padding:1px;
    background:url(../images/login/button_login1844c2.png) no-repeat scroll -20px -193px;

    /*png24 ie6 hack
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/common/login/images/button_login.png',sizingMethod='crop');*/
}
#login_container a.icon_faq {
    display:block;
    margin:0 auto;
    width:37px;
}
#login_container a.icon_faq img {
    background:url(../images/login/button_login1844c2.png) no-repeat scroll 0px -1px transparent;
    height:37px;
    width:37px;
    margin:-14px auto 0;
}
#login_container a.icon_faq:active img {
    background-position:-38px -2px;
}


/*faq panel*/
#login_container .complexDialog { position:absolute;border:4px solid #323639;border:4px solid #111\9;border-radius:8px;box-shadow:0px 0px 30px #111;text-align:left;width:400px;   }

/*#login_container .complexDialog .titleContainer { background:#50555c url(../images/login/bg_universal.jpg);border-radius:4px 4px 0 0; }*/
#login_container .complexDialog .title { border-top:1px solid rgba(255,255,255,0.16);border-bottom:1px solid rgba(0,0,0,0.3);height:52px;border-radius:4px 4px 0 0;text-align:left;padding:0 5px 0 10px;}
#login_container .complexDialog .title h3 { font-size:18px;color:#fff;text-shadow:0 1px 0 #111;font-weight:normal;line-height:60px;line-height:50px\9; }
#login_container .complexDialog .title a.iconTitleClose { float:right;margin:11px 0;}
/*#login_container .complexDialog .title a.iconTitleClose img{ width:34px;height:34px;background:url(../images/login/button_chat.png) no-repeat 0 -462px; }*/

/*#login_container .complexDialog .title a.iconTitleClose:hover img{ width:34px;height:34px;background:url(../images/login/button_chat.png) no-repeat -34px -462px; }*/

/*#login_container .complexDialog .title a.iconTitleClose:active img{ width:34px;height:34px;background:url(../images/login/button_chat.png) no-repeat -68px -462px; }*/

/*#login_container .complexDialog .title .iconTitleCreateNewChat { vertical-align:middle;width:30px;height:30px;background:url(../images/login/icon_chat.png) no-repeat -33px -66px; }*/

#login_container .complexDialog .content { background:#eee;border-radius:0 0 4px 4px; }

#login_container .faqPanel {
    position:absolute;
    width:500px;
    top:50%;
    left:50%;
    z-index:1009;
    margin-left:-254px;
    margin-top:-302px;
}
#login_container .faqPanel .titleContainer { background:#8eb8ca;}
#login_container .faqPanel .title a.iconTitleClose { }
/*#login_container .faqPanel .title a.iconTitleClose img{ background:url(../images/login/button_chat.png) no-repeat 0 -428px; }*/
/*#login_container .faqPanel .title a.iconTitleClose:hover img{ background:url(../images/login/button_chat.png) no-repeat -34px -428px; }*/
/*#login_container .faqPanel .title a.iconTitleClose:active img{ background:url(../images/login/button_chat.png) no-repeat -68px -428px; }*/
#login_container .faqPanel .title h3 { color:#759dae;text-shadow:0 1px 0 rgba(255,255,255,0.5);font-size:24px;font-weight:bold;margin-left:5px;  }
#login_container .faqPanel .content { padding:30px;color:#666;text-shadow:none;}
#login_container .faqPanel .content dt { color:#444; }
#login_container .faqPanel .content dd { margin-bottom:20px; }
#login_container .faqPanel .content ol li { list-style-type:disc;margin-left:23px;}
#login_container .faqPanel .tips { color:#77a5b9;}

#login_container .mark {
    display:none;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#000;
    filter:alpha(opacity=50);
    z-index:40;
}

/*noie*/
#login_container .noieWrap {
    padding-top:60px;
    text-align:center;
}
#login_container .noieWrap .ieLogo {
    background: url(../images/login/icon_login_ie1844c2.png) no-repeat scroll 0 0 transparent;
    height: 110px;
    margin: 0 auto 20px;
    width: 110px;
}
#login_container .noieWrap .errorTip {
    display:block;
    width:275px;
    height:85px;
    margin:0 auto 50px;
    background:url(../images/login/button_login1844c2.png) no-repeat 0px -95px;
    text-align:left;
}
#login_container .noieWrap .errorTip p.wordTip {
    padding:25px 0 0 39px;
    color:#474b50;
    text-shadow:0 1px 0 #fff;
}
#login_container .noieWrap .updateBrowser {
    margin:0 auto;
    width:120px;
}
#login_container .noieWrap .updateBrowser .tipPic {
    background:url(../images/login/button_login1844c2.png) no-repeat scroll -6px -45px transparent;
    height:20px;
    width:20px;
    float:left;
    margin-right:5px;
}
#login_container .noieWrap .updateBrowser a {
    float:left;
    line-height:20px;
    font-size:13px;
    color:#7ea1b5;
    text-shadow:0 -1px 0 #222426;
}


/* 4 Retina Screen */
@media only screen and (-webkit-min-device-pixel-ratio:2) {
    #login_container .loginPanel .title{
        -webkit-background-size:60px 33px;
        background-size:60px 33px;
    }
    #login_container .loginPanel .logoTitle {
        background-image:url("../images/login/logo_login.2x1844c2.png");
    }
    #login_container .loginPanel .enlogoTitle {
        background-image:url("../images/login/logo_login_en.2x1844c2.png");
    }
    #login_container .loginPanel .msgBox .successMsgTipPic,
    #login_container .loginPanel .msgBox .errorMsgTipPic,
    #login_container a.icon_faq img {
        background-image:url(../images/login/button_login.2x1844c2.png);
        -webkit-background-size:400px 246px;
        background-size:400px 246px;
    }
    #login_container a.icon_faq:active img {
        background-position:-39px -2px;
    }
    #login_container .loginPanel .loginTip {
        background-image:url(../images/login/bg_login_scan_middle.2x1844c2.png);
        -webkit-background-size:26px 48px;
        background-size:26px 48px;
    }
    #login_container .loginPanel .loginTipL {
        background-image:url(../images/login/bg_login_scan_left.2x1844c2.png);
        -webkit-background-size:26px 48px;
        background-size:26px 48px;
    }
    #login_container .loginPanel .loginTipR {
        background-image:url(../images/login/bg_login_scan_right.2x1844c2.png);
        -webkit-background-size:26px 48px;
        background-size:26px 48px;
    }
    #login_container .loginPanel .msgBox .msgBoxTop {
        background-image:url(../images/login/bg_login_scan_top.2x1844c2.png);
        -webkit-background-size:328px 36px;
        background-size:328px 36px;
    }
    #login_container .loginPanel .msgBox .msgBoxMid {
        background-image:url(../images/login/bg_login_scan_mid.2x1844c2.png);
        -webkit-background-size:328px 36px;
        background-size:328px 36px;
    }
    #login_container .loginPanel .msgBox .msgBoxBtm {
        background-image:url(../images/login/bg_login_scan_btm.2x1844c2.png);
        -webkit-background-size:328px 36px;
        background-size:328px 36px;
    }
    #login_container .noieWrap .ieLogo {
        background: url(../images/login/icon_login_ie.2x1844c2.png) no-repeat scroll 0 0 transparent;
        -webkit-background-size:110px;
        background-size:110px;
    }
}


/* faqpage */
#login_container .container {
    width:100%;
    padding:20px 0;
}
#login_container .faqMain {
    width:748px;
    margin-left:220px;
}
#login_container .faqMain .faqLeft {
    float:left;
}
#login_container .faqMain .fagRight {
    margin-left:60px;
}

#login_container .faqMain .faqContent {
    text-align:left;

}

/*IE10 hack*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #login_container .loginPanel .qrcode {
        box-shadow:none;
    }
    #login_container {
        text-shadow:none;
    }
    .createNewChat .choosePersGroup .selectGroupChat {
        margin-top: -9px;
    }
}